.teacheravatar{
    height: 120px;
}
.teacherchart{
    height: 300px;
}
.teachertext-book-img{
    height: 350px;
}
.teacherprofile-img {
    height: 40px;
    border-radius: 50%;
}
.teacherchapter-height{
    height: 350px;
}
