.footer-bg {
    background-color: blue
}

.footer-bg-dark {
    background-color: rgba(11, 11, 11, 0.2)
}

.nav-bg {
    background-color: rgba(0, 0, 255, 0.5);
}

.chatbot {
    position: fixed;
    bottom: 50px;
    left: 1400px;

}

.bot {
    height: 60px;
    width: 60px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  }
  
  .close-button {
    background-color: #d9534f;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 3px;
  }
  
  .close-button:hover {
    background-color: #c9302c;
  }

